.our-works 



.our-works-title 
 text-align: center
 text-align: center
 font-family: Raleway
 font-size: 40px
 font-weight: 600
 line-height: 47px
 margin-bottom: 38px


.our-works-menu 
 margin-bottom: 20px
 margin-left: 60px

.our-works-menu__link 
 font-family: Segoe UI
 font-size: 20px
 font-weight: 600
.our-works-menu a
 margin-right: 10px  

.our-works-items 
 display: flex
 align-items: center
 flex-wrap: wrap
 justify-content: center

.our-works-items div:nth-child(3n+3)  
 margin-right: 0px
 

.our-works-item 
 display: flex
 margin-right: 60px
 margin-bottom: 45px
 flex-direction: column



.our-works-item__image 
 width: 350px
 height: 285px
 display: flex
 border-radius: 8px 8px 0 0

.our-works-text 
 display: flex
 flex-direction: column
 border: 2px solid #d6d6d6
 border-top: none
 border-radius: 0 0 8px 8px
 box-shadow: 0 0 10px rgba(0,0,0,0.5)
 padding: 13px 13px 13px 13px

.our-works-item__category 
 font-family: Segoe UI
 font-size: 20px
 font-weight: 400
 padding: 0 10px 0 10px
 

.our-works__text 
 display: flex 
 justify-content: space-between
 font-family: Segoe UI
 font-size: 20px
 font-weight: 600
 padding: 0 10px 0 10px


.item-text__title 

.item-text__date 
